.spin {
    animation: spin-animation .5s infinite;
    display: inline-block;
}

@keyframes spin-animation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(359deg);
    }
}

.on-load {
    animation: fade-in-up 1s forwards;
    opacity: 0;
}

@keyframes fade-in-up {
    from {
        opacity: 0;
        transform: translateY(8px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.spinner {
    animation: spin 1s, colour-wheel 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    border: 2px solid transparent;
    border-color: $grey;
    border-radius: 50%;
    border-top-color: $purple;
    height: 32px;
    pointer-events: none;
    width: 32px;
}

@keyframes spin {
    0% {
        transform: rotateZ(0);
    }

    100% {
        transform: rotateZ(360deg);
    }
}

@keyframes colour-wheel {
    0% {
        border-top-color: $purple;
    }

    33% {
        border-top-color: $cyan;
    }

    66% {
        border-top-color: $red;
    }

    100% {
        border-top-color: $purple;
    }
}
