.form {
    &-group {
        width: 100%;

        .v-select {
            flex: 1 1 auto;
            margin-bottom: 0;
            min-width: 0;
            position: relative;
            width: 1%;
        }
    }
}

.input {
    &-group {
        & > .v-select:not(:first-child) {
            .vs__dropdown-toggle {
                border: 1px solid $border;
                border-radius: 0 .25rem .25rem 0;
                padding: 4px 0 5px;
            }
        }
    }
}

.current-page {
    width: 60px;
}
