hr {
    box-sizing: border-box;
}

svg {
    fill: $white;

    &.loader {
        fill: $primary;
    }

    &.btn-loading {
        margin: 0 3px;
    }
}

.poster {
    width: 50px;

    &_big {
        width: 100%;
    }
}
